.cell {
    display: flex;
    height: 30px;
    width: 30px;
    border: 1px solid gray;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-left: none;
}

.cell:first-child {
    border-left: 1px solid gray;
}

.missCell {
    background-color: gray;
}

.shipCell {
    background-color: deepskyblue;
}

.killCell {
    background-color: red;
}

.headerCell {
    display: flex;
    height: 30px;
    width: 30px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-weight: 600;
}
